<% include header.ejs %>
<div class="container">
<div class="hero-unit">
  <h1>Search Results for <%= query %></h1>
  <p>Completed in <%= twitter.completed_in %></p>
  <a href="/">Home</a>
</div>
<div class="span6 offset2">
<h2>Results</h2>
<ul>
  <% twitter.results.forEach(function(result){ %>
  <li>
    <div class="media">
      <a class="pull-left" href="<%= '#' %>">
        <img src="<%= result.profile_image_url %>" />
        <br />
        
      </a>
      <div class="media-body" style="margin-bottom: 20px;">
        <h4 class="media-heading" style="margin: 0;padding:0;">
          <%= result.text %>
        </h4>
        <div class="media" style="margin: 0;padding:0;">
          <%= result.from_user %>
        </div>
      </div>
    </div>
    
  </li>
  <% }); %>
</ul>
</div>
</div>
<% include footer.ejs %>